Source: statusnet
Section: web
Priority: extra
Maintainer: Brenda Wallace <shiny@cpan.org>
Uploaders: Francois Mariear <francois@debian.org>,
           Evan Prodromou <evan@debian.org>,
           Leo Costela <costela@debian.org>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.1
Homepage: http://status.net
Vcs-git: git://git.debian.org/git/collab-maint/statusnet.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/statusnet.git

Package: statusnet
Architecture: all
Depends: ${misc:Depends}, dbconfig-common,
         php5-mysql | php5-pgsql,
         apache2 | lighttpd | httpd,
         php5-cli (>= 5.2.3), libapache2-mod-php5 (>= 5.2.3) | php5 (>= 5.2.3),
         libjs-jquery, tinymce,
         liboauth-php, php-db, php5-gd, php-openid, php-mail, 
         libmarkdown-php, php-net-smtp, php-net-socket, libxmpp-php, 
         php-http-request, php-net-url
Suggests: php5-memcache, sphinxsearch, php5-gmp, php5-xcache | php-apc
Description: distributed microblogging tool
 StatusNet is an open source microblogging tool written in PHP. All data
 is stored in a relational database. It was created as a direct response
 to the need to create an open source, distributed alternative to 
 Twitter. StatusNet implements the OpenMicroBlogging standard. 
 .
 It was originally developed as laconica and serves as the backend for
 the identi.ca microblogging service.
