#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

export DH_ALWAYS_EXCLUDE=LICENSE:license.txt

%:
	dh $@

override_dh_auto_clean:

override_dh_auto_build:

override_dh_auto_install:
	install -m 644 -D $(CURDIR)/db/statusnet.sql $(CURDIR)/debian/tmp/usr/share/dbconfig-common/data/statusnet/install/mysql
	install -m 644 -D $(CURDIR)/db/statusnet_pg.sql $(CURDIR)/debian/tmp/usr/share/dbconfig-common/data/statusnet/install/pgsql

override_dh_fixperms:
	# correct permission (remove x bit from all non-scripts, add it to scripts)
	find $(CURDIR)/debian/statusnet/usr/share/ -executable -type f ! -path '*/scripts/*' -print0 | xargs -0r chmod a-x
	find $(CURDIR)/debian/statusnet/usr/share/ ! -executable -type f -path '*/scripts/*' ! -name *-utils.php -print0 | xargs -0r chmod a+x
	find $(CURDIR)/debian/statusnet/usr/share/ ! -executable -type f -path '*/daemons/*' -print0 | xargs -0r chmod a+x # twitter integration
	dh_fixperms
